<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="AddPayer">
    <classes>
      <class name="com.demo.testcases.TC_EditPayer_UpdatePayerTest_003"/>
        <class name="com.demo.testcases.TC_Verify_DuplicatePayers_AddingwithExistingTINTest_004"/>
      <class name="com.demo.testcases.TC_Verify_DuplicatePayers_UpdatePayerTaxIDwithExistingPayerTaxIDTest_005"/>
    <class name="com.demo.testcases.AddpayerwithRandomBusinessnameandEIN"/>  
    <class name="com.demo.testcases.TC_AddPayer_SSN_Country_USATest_008"/>
     <class name="com.demo.testcases.TC_AddPayer_EIN_ForeignCountryTest_009"/>
     <class name="com.demo.testcases.SeacrhAddedPayer"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
