<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.demo.ExtentReportListener.ExtentReportListener"/>

</listeners>

  <test thread-count="5" name="Regression">
    <classes>
     <!--  <class name="com.demo.testcases.testsample"/>  -->
   <!--  <class name="com.demo.testcases.TC_MISC_WorkingFlow_002"/>  -->
     <class name="com.demo.testcases.TC_MISC_GA_WH_Yes_01"/> 
     <class name="com.demo.testcases.TC_MISC_GA_WH_Yes_02"/> 
<class name="com.demo.testcases.TC_MISC_GA_WH_Yes_03"/>  
<class name="com.demo.testcases.TC_MISC_GA_WH_Yes_04"/> 
<class name="com.demo.testcases.TC_MISC_GA_WH_Yes_05"/> 
<class name="com.demo.testcases.TC_MISC_GA_WH_Yes_06"/> 
<class name="com.demo.testcases.TC_MISC_GA_WH_Yes_07"/> 
<class name="com.demo.testcases.TC_MISC_GA_WH_Yes_08"/> 
  
    <!--  <class name="com.demo.testcases.TC_MISC_WorkingFlow_001"/>  -->
       
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->