<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Fidentity" parallel="tests" thread-count="3">
    
    <test name="Cucumer features">
       
       <parameter name="browser" value="chrome" />
        <classes>
            
            <class name="CucumberOptions.TestRunner" />
        </classes>
    </test>
 
 
</suite>
